@charset "utf-8";
@font-face {
  font-family: 'Alagard';
  src: url('Alagard.woff2') format('woff2'),
       url('Alagard.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
  font-family: 'Alagard';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
main {
  display: flex;
}
div {
  display: block;
}
#frame{
  position: relative;
}
.history__content p {
  line-height: 1.25;
}
.p p {
  text-shadow: 1px 1.5px 2px black;
  text-align: center;
  margin-top: 10px;
  width: 350px;
}
.p h2 {
  text-shadow: 1px 1.5px 2px black;
  text-align: center;
  font-size: 28px;
  margin-top: -20px;
  width: 350px;
}
figure {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
figcaption {
  font: 120% sans-serif;
  text-align: center;
}
video {
    width: 100%;
    height: auto;
}
.root{
  width: 100%;
  background-color: #111;
}
.root .content-wrap {
  visibility: visible;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 66px;
  background-color: rgba(17,17,17,0.75);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}
.header__navbar {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  margin-left: 40px;
}
.header__logo {
  float: left;
  margin-left: 8px;
  width: 317px;
  height: 105px;
}
.header__navwrap {
  display: inline-block;
  position: relative;
  margin-left: -34px;
}
.header__navbar .header__navitem {
  font-size: 16px;
  margin: 0 15px !important;
}
.header__navitem {
  font-family: 'Alagard';
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  width: auto;
  height: 66px;
  margin: 0 20px !important;
  line-height: 66px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
.header__navitem:hover, .header__navitem--focus {
  text-shadow: 0 0 10px #ff6969, 0 0 20px #ff6969, 0 0 40px #ff6969;
  color: #fff;
}
.history {
  margin-top: -6px;
}
.home .history {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 140px;
  background: url(../img/background2.png) no-repeat center/cover;
  color: #fff;
}
.home .history h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: 'Alagard';
  position: relative;
  margin: 180px auto 60px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.home .history__main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.home .history__content {
  border-radius: 25px;
  position: relative;
  width: 60%;
  height: auto;
  margin: 0;
  background: rgba(38,18,12,0.62);
}
.history__text{
  color: white;
  text-indent: 25px;
  text-align: justify;
  font-family: 'Alagard';
  margin: 5%;
}
.home .characters {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 910px;
  background: url(../img/background4.png) no-repeat center/cover;
  color: #fff;
}
.home .characters h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: 'Alagard';
  position: relative;
  margin: 183px auto 60px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.home .characters__main {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin: 0 auto;
}
.home .characters__content {
  border-radius: 25px;
  position: relative;
  width: 60%;
  height: 450px;
  margin: 0;
  background: rgba(38,18,12,0.62);
}
.characters__text{
  color: white;
  text-indent: 25px;
  text-align: justify;
  font-family: 'Alagard';
  margin: 5%;
}
.home .map {
  width: 100%;
}
.home .map__list {
  overflow: hidden;
}
.home .map__list-item {
  position: relative;
  width: 100%;
  height: 260px;
  background: center no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  overflow: hidden;
}
.home .map__list-item:hover {
  transform: scale(1.01);
}
.home .map__list-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: 100% auto;
  transition: transform 0.4s 0s ease-out;
}
.home .map__list-item p, .home .map__list-item a {
  font-family: 'Alagard';
  display: inline-block;
  position: relative;
  z-index: 3;
  font-size: 36px;
  color: #fff;
  line-height: 260px;
  width: 100%;
  height: 260px;
  background: url(../img/icon-opacity.png) center no-repeat;
  background-size: 182px;
  text-align: center;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;;
  margin: 0 !important;
  overflow: hidden;
}
ul, li {
  list-style: none;
}
.caixa-txt {
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 0px;
  width: 1000px;
  height: 400px;
}
.p{
  font-family: 'Alagard';
  color: white;
  transform: translatey(-360px);
  margin: 0 auto;
  text-align: center;
  width: 240px;
}
.frog{
  transform: translateX(-110%);
  height: 360px;
  width: 300px;
  margin-top: 45px;
}
.robo{
  transform: translateX(-145%);
  width: 240px;
}
.chrono{
  transform: translateX(-135%);
  height: 400px;
  width: 250px;
}
.magus{
  transform: translateX(-112%);
  width: 305px;
  height: auto;
}
.ayla{
  transform: translateX(-155%);
  height: 400px;
  width: 225px;;
}
.marle{
  transform: translateX(-135%);
  width: 250px;
  height: auto;
}
.lucca{
  transform: translateX(-126%);
  height: 420px;
  width: 270px;
}
.slider{
  overflow: hidden;
  text-align: center;
  padding-top: 15px;
}
.slider > .slider-conteudo{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}
.slider > .slider-conteudo > .slider-item {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
}
.slider > input:nth-child(1):checked ~ .slider-conteudo{
  transform: translateX(0%);
}
.slider > input:nth-child(2):checked ~ .slider-conteudo{
  transform: translateX(-100%);
}
.slider  > input:nth-child(3):checked ~ .slider-conteudo{
  transform: translateX(-200%);
}
.slider > input:nth-child(4):checked ~ .slider-conteudo{
  transform: translateX(-300%);
}
.slider > input:nth-child(5):checked ~ .slider-conteudo{
  transform: translateX(-400%);
}
.slider > input:nth-child(6):checked ~ .slider-conteudo{
  transform: translateX(-500%);
}
.slider > input:nth-child(7):checked ~ .slider-conteudo{
  transform: translateX(-600%);
}
input{
  margin: 0 32px;
  display: inline-block;
}
input:nth-child(7){
  margin-right: 100px;
}
input::before{
  display: none;
}
input[type='radio']:after {
  width: 75px;
  height: 11px;
  top: -2px;
  left: -1px;
  border-radius: 4px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  width: 75px;
  height: 11px;
  top: -2px;
  left: -1px;
  border-radius: 4px;
  position: relative;
  background-color: #707070;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
#bg{
  opacity: 1;
}
#map h2 {
  display: none;
}
.home .poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .poster #bgWrap {
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  justify-content: center;
  align-items: center;
}
 #bgWrap {
   width: auto;
 }
.home .poster video {
  -o-object-fit: cover;
  object-fit: cover;
}
.home .poster__bg {
  opacity: 0;
}
.home .poster__sign {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 50%;
  width: 100%;
  min-height: 280px;
  transform: translate(-50%, -340px);
}
.home .poster__sub {
  font-family: 'Alagard';
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
  margin: 32px auto 27px;
}
.footer {
  font-family: 'Alagard';
  position: relative;
  z-index: 998;
  width: 100%;
  background-color: #111;
  margin: 0 auto;
}
.footer__top {
  position: relative;
  height: 52px;
  line-height: 52px;
  letter-spacing: 0;
  font-size: 16px;
  border-bottom: #1a1a1a solid 2px;
  color: #999;
  margin-left: -640px;
}
/*Não utilizamos porem ficou + bonito com*/
.footer__socialbar {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  line-height: 100%;
  margin-right: 250px;
  margin-left: 10px;
  vertical-align: center;
}
.chrono-footer {
  background-color: #111;
  padding: 30px 0 50px;
}
.chrono-footer .footer-wrap {
  width: auto;
  margin: 0 auto;
  padding: 0 12px;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.chrono-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}
.chrono-footer .footer-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
}
.chrono-footer .footer-content__logo .logoimg {
  padding: 0 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chrono-footer .footer-content__logo .game {
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: none;
}
.chrono-footer .footer-content__info {
  width: 7000px;
  padding-left: 40px;
}
.chrono-footer .links {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.chrono-footer .links .link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 5px 0;
}
.footer a, .footer a:link, .footer a:visited, .footer a:active {
  text-decoration: none;
  color: #999;
}
.chrono-footer a.link {
  color: #d8d8d8;
  text-decoration: none;
  padding: 0 10px;
  border-left: 1px solid #fff;
  line-height: 1;
}
.chrono-footer .copyright {
  padding: 6px 0;
}
.chrono-footer .tip-text, .chrono-footer .extra-info {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#checkbox-menu {
  position: absolute;
  opacity: 0;
}
label {
  cursor: pointer;
  position: relative;
  display: block;
  height: auto;
  width: 45px;
}
label span {
  position: absolute;
  display: block;
  height: 7px;
  width: 100%;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.25s ease-in-out;
}
label span:nth-child(1) {
  top: 18px;
  left: 20px;
}
label span:nth-child(2) {
  top: 30px;
  left: 20px;
}
label span:nth-child(3) {
  top: 42px;
  left: 20px;
}
#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 30px;
}
#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 30px;
}
#menu {
  display: none;
}
.container label {
  display: none;
}
.form {
  margin-top: -6px;
}
.home .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  background: url(/img/background5.jpg) no-repeat center/cover;
  color: #fff;
}
.home .form h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: 'Alagard';
  position: relative;
  margin: auto;
  max-width: 500px;
  height: 80px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
form {
  display: block;
  margin-top: 0em;
}
.form__main {
  display: flex;
  justify-content: center;
  height: 440px;
  margin: auto;
  max-width: 60%;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 20px;
  position: relative;
}
.form__content {
  display: table;
  align-items: center;
}
.form__content .input-container {
  top: 30px;
  width:140px;
  padding: 5px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.form__content .input-container input {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  min-width: 0;
  width: 100%;
  color: #3c4044;
  padding: 10px 0;
  background-color: transparent;
  outline: none;
  line-height: 18px;
  font-size: 12px;
}
input {
    text-align: center;
}
.input-container input {
  display: inline-block;
  margin: 0 auto;
}
.input-item{
  margin-top: 10px;
}
.submit:hover{
  background-color: rgba(0, 0, 0, 0.192);
  color: white;
}
:-ms-input-placeholder, ::-moz-placeholder, :-moz-placeholder, ::-webkit-input-placeholder {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .home .history__content, .home .characters__content {
    width: 75%;
  }
  .caixa-txt {
    transform: scale(0.9);
  }
  .frog{
    transform: translateX(-137%);
    height: 360px;
    width: 285px;
    margin-top: 45px;
  }
  .robo{
    transform: translateX(-168%);
    width: 240px;
  }
  .chrono{
    transform: translateX(-162%);
    height: 400px;
    width: 250px;
  }
  .magus{
    transform: translateX(-139%);
    width: 290px;
    height: auto;
  }
  .ayla{
    transform: translateX(-177%);
    height: 400px;
    width: 225px;;
  }
  .marle{
    transform: translateX(-160%);
    width: 250px;
    height: auto;
  }
  .lucca{
    transform: translateX(-145%);
    height: 420px;
    width: 270px;
  }
  .home .poster__sub {
    font-family: 'Alagard';
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
    margin: -32px auto 27px;
  }
}
@media screen and (max-width: 960px) {
  .header__logo img{
    height: 66px;
  }
  .header__navbar{
    display: none;
  }
  .home .history__content, .home .characters__content {
    width: 85%;
  }
  .caixa-txt {
    transform: scale(0.8);
  }
  .frog{
    transform: translateX(-143%);
    height: 360px;
    width: 300px;
    margin-top: 45px;
  }
  .robo{
    transform: translateX(-183%);
    width: 240px;
  }
  .chrono{
    transform: translateX(-175%);
    height: 435px;
    width: 250px;
  }
  .magus{
    transform: translateX(-142%);
    width: 310px;
    height: auto;
  }
  .ayla{
    transform: translateX(-178%);
    height: 435px;
    width: 240px;
  }
  .marle{
    transform: translateX(-175%);
    width: 250px;
    height: 430px;
  }
  .lucca{
    transform: translateX(-145%);
    height: 450px;
    width: 290px;
  }
  .container label {
    display: block;
  }
  #menu {
    display: none;
    padding-top: 86px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgba(17,17,17,0.75);
  }
  #menu ul {
    width: 100%;
    transition: 0.4s ease-in-out;
  }
  #menu li {
    margin-top: 0px;
    padding: 10px;
    display: block;
    text-align: center;
  }
  #menu a {
    color: #fff;
    text-decoration: none;
  }
  #checkbox-menu:checked ~ #menu {
    display: block;
  }
  .header__logo img {
    position: absolute;
    top: 0;
    left: 26%;
  }
}
@media screen and (max-width: 768px) {
  .home .history h3, .home .characters h3 {
    margin: 100px auto 60px;
    font-size: 40px;
  }
  .home .history {
    padding-bottom: 100px;
  }
  .home .characters {
    height: 760px;
  }
  .home .form {
    padding-bottom: 70px;
  }
  .home .poster__sub {
    margin: -96px auto 27px;
  }
  .frog{
    transform: translateX(-153%);
    height: 360px;
    width: 300px;
    margin-top: 45px;
  }
  .robo{
    transform: translateX(-203%);
    width: 240px;
  }
  .chrono{
    transform: translateX(-193%);
    height: 435px;
    width: 250px;
  }
  .magus{
    transform: translateX(-142%);
    width: 310px;
    height: auto;
  }
  .ayla{
    transform: translateX(-200%);
    height: 435px;
    width: 240px;
  }
  .marle{
    transform: translateX(-194%);
    width: 250px;
    height: 430px;
  }
  .lucca{
    transform: translateX(-161%);
    height: 450px;
    width: 290px;
  }
  .home .form h3 {
    font-size: 36px;
  }
  .form__main {
    margin-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .chrono-footer .footer-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    margin:none;
  }
  .chrono-footer .footer-content__logo {
    width: 1000px;
  }
  .chrono-footer .footer-content__logo .logoimg {
    display: none;
  }
  address {
    width:300px;
  }
  .header__logo img {
    position: absolute;
    top: 0;
    left: 7%;
  }
  .p p {
    text-shadow: 1px 1.5px 2px black;
    text-align: center;
    margin-top: 10px;
    width: 240px;
  }
  .home .poster__sub {
  font-size: 18px;
  }
  .home .history h3, .home .characters h3 {
    font-size: 32px;
    margin-top: 70px;
  }
  .home .history {
    padding-bottom: 70px;
  }
  .home .characters {
    height: 950px;
  }
  .home .map__list-item p {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  .p{
    font-family: 'Alagard';
    color: white;
    transform: translatey(-360px);
    margin: 0 auto;
    text-align: center;
    width: 240px;
  }
  .home .characters__content {
    height: 710px;
  }
  .slider > .slider-conteudo > .slider-item {
  flex: 0 0 auto;
  align-items: center;
  width: 100%;
  height: 100%;
}
  input{
    margin: 0 16px;
    width: 10px;
    display: inline-block;
  }
  input::after, input[type='radio']:checked:after, input[type='radio']:after {
    width: 40px;
    height: 30px;
  }
  input:nth-child(7){
    margin-right: 50px;
  }
  input{
    margin-bottom: 20px;
  }
  .frog{
    transform: translateX(-125%);
    height: 345px;
    width: 290px;
    margin-top: 405px;
  }
  .robo{
    transform: translateX(-180%);
    margin-top: 400px;
    width: 210px;
  }
  .chrono{
    transform: translateX(-145%);
    margin-top: 300px;
    height: 450px;
  }
  .magus{
    transform: translateX(-130%);
    margin-top: 370px;
    width: 290px;
    height: auto;
  }
  .ayla{
    transform: translateX(-165%);
    margin-top: 350px;
    height: 400px;
    width: 225px;
  }
  .marle{
    transform: translateX(-145%);
    margin-top: 350px;
    width: 250px;
    height: auto;
  }
  .lucca{
    transform: translateX(-135%);
    margin-top: 380px;
    height: 385px;
    width: 275px;
  }
  .form__main {
    max-width: none;
    display: block;
    width: 85%;
    height: 490px;
    margin-top: 70px;
  }
  .form__content {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .chrono-footer .footer-content__info {
  transform: scale(0.9);
  }
  .home .characters h3 {
    margin: 80px 0;
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  .p p {
    font-size: 13px;
  }
  .header__logo img {
    left: 10%;
    height: 45px;
  }
  .caixa-txt img {
    display: none;
  }
  .p h2 {
    width: 240px;
  }
  .home .characters__content {
    height: 350px;
  }
  .home .characters {
    height: 545px;
  }
  .home .history__content, .home .characters__content {
    width: 90%;
  }
  .home .map__list-item p {
    font-size: 24px;
  }
  .home .characters h3 {
    margin: 50px 0;
    font-size: 24px;
  }
  .home .history h3, .home .characters h3 {
    font-size: 24px;
    margin-top: 40px;
  }
  p {
    font-size: 12px;
  }
  .p h2 {
    font-size: 18px;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 45px;
  }
  label {
    width: 35px;
  }
  label span {
    position: absolute;
    display: block;
    height: 4px;
  }
  label span:nth-child(1) {
    top: 12px;
    left: 10px;
  }
  label span:nth-child(2) {
    top: 20px;
    left: 10px;
  }
  label span:nth-child(3) {
    top: 28px;
    left: 10px;
  }
  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 20px;
  }
  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }
  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 20px;
  }
  #menu a {
    font-size: 16px;
  }
  #menu {
    display: none;
    padding-top: 55px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  input::after, input[type='radio']:checked:after, input[type='radio']:after {
    width: 28px;
    height: 20px;
  }
  input {
    margin: 0 14px;
    width: 1px;
    display: inline-block;
  }
}

/*
Notas do Projeto:

CSS -> Nicholas, Luiz Eduardo.
HTML -> Nicholas, Anderson.
Textos -> Pesquisas e imagens -> Fabricio Veith.
Responsividade -> Luiz Eduardo.

Site de Chrono Trigger Baseado na estrutura do site do Genshin Impact.

Site do Genshin Impact: Link -> https://genshin.mihoyo.com/pt/home

Link do site da nintendo pra gente não tomar copyright:

Link -> https://www.nintendo.pt/Jogos/Nintendo-DS/Chrono-Trigger-270297.html

Nota de Agradecimento:

    Obrigado sora Aline essa pode ser a ultima disciplina de alguns de nós mas passando aqui pra agradecer tudo que foi ensinado
agradecer pelos papos aleatorios da semana, curti muito o curso todo e concerteza vou seguir nessa área. Abraços Nicholas e companhia

*/
