@charset "utf-8";
@font-face {
  font-family: 'Alagard';
  src: url('Alagard.woff2') format('woff2'),
       url('Alagard.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
#frame{
  position: relative;
}
.root{
  width: 100%;
  min-width: 1280px;
  background-color: #111;
}
.root .content-wrap {
  visibility: visible;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1280px;
  height: 66px;
  background-color: rgba(17,17,17,0.75);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}
.header__navbar {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  margin-left: 40px;
}
.header__logo {
  float: left;
  margin-left: 8px;
  width: 317px;
  height: 105px;
}
.header__navwrap {
  display: inline-block;
  position: relative;
  margin-left: -34px;
}
.header__navbar .header__navitem {
  font-size: 16px;
  margin: 0 15px !important;
}
.header__navitem {
  font-family: 'Alagard';
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  width: auto;
  height: 66px;
  margin: 0 20px !important;
  line-height: 66px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
  color: #ccc;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
.header__navitem:hover, .header__navitem--focus {
  text-shadow: 0 0 10px #ff6969, 0 0 20px #ff6969, 0 0 40px #ff6969;
  color: #fff;
}
.home .history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 910px;
  background: url(../img/background2.png) no-repeat center/cover;
  color: #fff;
}
.home .history h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: 'Alagard';
  position: relative;
  margin: 183px auto 60px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.home .history__main {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
}
.home .history__content {
  border-radius: 25px;
  position: relative;
  width: 1000px;
  margin: 0;
  background: rgba(38,18,12,0.62);
}
.history__text{
  color: white;
  text-indent: 25px;
  text-align: justify;
  font-family: 'Alagard';
  margin: 5%;
}
.home .characters {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 910px;
  background: url(../img/background4.png) no-repeat center/cover;
  color: #fff;
}
.home .characters h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: 'Alagard';
  position: relative;
  margin: 183px auto 60px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.home .characters__main {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
}
.home .characters__content {
  border-radius: 25px;
  position: relative;
  width: 1000px;
  margin: 0;
  background: rgba(38,18,12,0.62);
}
.characters__text{
  color: white;
  text-indent: 25px;
  text-align: justify;
  font-family: 'Alagard';
  margin: 5%;
}
.home .map {
  width: 100%;
}
.home .map__list {
  overflow: hidden;
}
.home .map__list-item {
  position: relative;
  width: 100%;
  height: 260px;
  background: center no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  overflow: hidden;
}
.home .map__list-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: 100% auto;
  transition: transform 0.4s 0s ease-out;
}
.home .map__list-item p, .home .map__list-item a {
  font-family: 'Alagard';
  display: inline-block;
  position: relative;
  z-index: 3;
  font-size: 36px;
  color: #fff;
  line-height: 260px;
  width: 100%;
  height: 260px;
  background: url(../img/icon-opacity.png) center no-repeat;
  background-size: 182px;
  text-align: center;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;;
  margin: 0 !important;
  overflow: hidden;
}
ul, li {
  list-style: none;
}
.caixa-txt {
  margin: 0 auto;
  margin-bottom: 150px;
  border-radius: 25px;
  margin-top: 0px;
  width: 1000px;
  height: 485px;
  background-color:  rgba(17,17,17,0.75);
}
.p{
  font-family: 'Alagard';
  color: white;
  transform: translatey(-444px);
  margin: 0 auto;
  text-align: center;
  width: 240px;
}
.frog{
  transform: translateX(-110%);
  height: 360px;
  width: 300px;
  margin-top: 45px;
}
.robo{
  transform: translateX(-145%);
  width: 240px;
}
.chrono{
  transform: translateX(-135%);
  height: 400px;
  width: 250px;
}
.magus{
  transform: translateX(-114%);
  width: 305px;
  height: auto;
}
.ayla{
  transform: translateX(-155%);
  height: 400px;
  width: 225px;;
}
.marle{
  transform: translateX(-135%);
  width: 250px;
  height: auto;
}
.lucca{
  transform: translateX(-126%);
  height: 420px;
  width: 270px;
}
.slider{
  overflow: hidden;
  text-align: center;
}
.slider > .slider-conteudo{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}
.slider > .slider-conteudo > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}
.slider > input:nth-child(1):checked ~ .slider-conteudo{
  transform: translateX(0%);
}
.slider > input:nth-child(2):checked ~ .slider-conteudo{
  transform: translateX(-100%);
}
.slider  > input:nth-child(3):checked ~ .slider-conteudo{
  transform: translateX(-200%);
}
.slider > input:nth-child(4):checked ~ .slider-conteudo{
  transform: translateX(-300%);
}
.slider > input:nth-child(5):checked ~ .slider-conteudo{
  transform: translateX(-400%);
}
.slider > input:nth-child(6):checked ~ .slider-conteudo{
  transform: translateX(-500%);
}
.slider > input:nth-child(7):checked ~ .slider-conteudo{
  transform: translateX(-600%);
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input{
  margin: 0 32px;
}
input:nth-child(7){
  margin-right: 100px;
}
input::before{
  display: none;
}
input[type='radio']:after {
  width: 75px;
  height: 11px;
  top: -2px;
  left: -1px;
  border-radius: 4px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  width: 75px;
  height: 11px;
  top: -2px;
  left: -1px;
  border-radius: 4px;
  position: relative;
  background-color: #707070;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.home .poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .poster #bgWrap {
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  justify-content: center;
  align-items: center;
  background: #fcf9fe;
}
.home .poster video {
  -o-object-fit: cover;
  object-fit: cover;
}
.home .poster__bg {
  opacity: 0;
}
.home .poster__sign {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100vh;
  left: 50%;
  width: 100%;
  min-height: 280px;
  transform: translate(-50%, -340px);
}
.home .poster__sub {
  font-family: 'Alagard';
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
  margin: 32px auto 27px;
}
.footer {
  font-family: 'Alagard';
  position: relative;
  z-index: 998;
  width: 100%;
  min-width: 1280px;
  background-color: #111;
  margin: 0 auto;
}
.footer__top {
  position: relative;
  width: 1280px;
  height: 52px;
  line-height: 52px;
  letter-spacing: 0;
  font-size: 16px;
  border-bottom: #1a1a1a solid 2px;
  color: #999;
  left: 50%;
  margin-left: -640px;
}
.footer__socialbar {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  line-height: 100%;
  margin-right: 250px;
  margin-left: 10px;
  vertical-align: center;
}
.chrono-footer {
  background-color: #111;
  padding: 30px 0 50px;
}
.chrono-footer .footer-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.chrono-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}
.chrono-footer .footer-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
}
.chrono-footer .footer-content__logo .logoimg {
  padding: 0 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chrono-footer .footer-content__logo .game {
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: none;
}
.chrono-footer .footer-content__info {
  width: 560px;
  margin-left: 40px;
}
.chrono-footer .links {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.chrono-footer .links .link {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 5px 0;
}
.footer a, .footer a:link, .footer a:visited, .footer a:active {
  text-decoration: none;
  color: #999;
}
.chrono-footer a.link {
  color: #d8d8d8;
  text-decoration: none;
  padding: 0 10px;
  border-left: 1px solid #fff;
  line-height: 1;
}
.chrono-footer .copyright {
  padding: 6px 0;
}
.chrono-footer .tip-text, .chrono-footer .extra-info {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
